body,html{
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.bg {
  /* The image used */
  background-image: url("red-moped.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

